<div id="breadcrumb" class="hoc clear">
  <!-- ################################################################################################ -->
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/services">Services</a></li>
  </ul>
  <!-- ################################################################################################ -->
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <h2>Lorem Ipsum</h2>
    <p>Lorem ipsum dolor sit amet, dignissim nulla, rhoncus quis vehicula. Et suscipit dolor laoreet mauris massa pharetra, ut facilisis nec. Condimentum nec pellentesque, porta accumsan velit. Nec non id lectus arcu nulla proin, fermentum rhoncus eget quis justo varius erat, lectus quae sapien. Suspendisse vehicula vel vel integer, sed nunc nam wisi. Enim bibendum et maecenas, accumsan vitae non aenean. Eleifend sed nullam wisi mattis fusce laoreet, accumsan sed, morbi dictum delectus massa vivamus, felis eget scelerisque libero metus, cras vel ante eget nisl elit interdum. Mollis libero neque, amet nibh suspendisse, eget vitae porta. Iaculis eu magna vitae, inceptos cras, metus libero justo non quam arcu. Sed quis lacinia diam aliquam velit, enim dictum enim cras mi eu. Ad non neque mollis elit, dignissim hymenaeos in, pellentesque et tempus semper ratione. Convallis risus wisi orci aliquet.</p>
  </main>
</div>
