<div id="breadcrumb" class="hoc clear">
  <!-- ################################################################################################ -->
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/pricelist">Price List</a></li>
  </ul>
  <!-- ################################################################################################ -->
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <h2>Lorem Ipsum</h2>
    <table>
      <tr>
        <th colspan="4">XXXX</th>
      </tr>
      <tr>
        <th>text</th>
        <th>text</th>
        <th>text</th>
        <th>text</th>
      </tr>
      <tr>
        <td>Kamaz</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Kamaz</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Kamaz</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Kamaz</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>
    </table>
  </main>
</div>
